/*右侧浮动*/

.right_fixed {
	position: fixed;
	top: 50px;
	right: 0px;
	bottom: 10px;
	width: 35px;
	background: #3D3D3D;
	z-index: 11;
	text-align: center;
}

.right_fixed div {
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
}

.r_login {
	top: 45px;
}

.r_cart {
	top: 95px;
}

.r_email {
	top: 145px;
}

.r_kefu {
	top: 195px;
}

.r_sys {
	bottom: 45px;
}

.r_return {
	bottom: 5px;
}

.r_login:after,
.r_cart:after,
.r_email:after,
.r_sys:after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 15%;
	width: 70%;
	height: 1px;
	background: #525252;
}

.r_sys:after {
	top: -10px;
}


/*底部*/

footer {
	background: rgb(242, 242, 242);
	margin-top: 100px;
	padding-top: 30px;
	text-align: center;
	width: 100%;
	height: auto;
}

footer #ul {
	margin: 0 auto;
	width: 800px;
	height: auto;
	background: rgb(242, 242, 242);
}

#ul li {
	position: relative;
	padding-right: 155px;
}

.Qiu {
	width: 30px;
	position: absolute;
	top: 0;
	left: -40px;
}

#ul li:last-of-type {
	padding: 0!important;
}

footer h5 {
	color: gray;
	font-weight: 300;
	font-size: 16px;
}

footer p {
	color: #959595;
	font-size: 12px;
}

footer p img {
	float: left;
	margin-right: 3px;
}

footer ul {
	padding-top: 30px;
	width: 645px;
	height: auto;
	margin: 0 auto;
}

footer ul a {
	font-size: 12px;
	color: #959595;
}

footer ul li {
	position: relative;
	top: 30px;
	font-size: 12px;
	color: #959595;
	width: auto;
	height: auto;
	padding: 3px;
}

#Sdiv {
	padding-top: 30px;
	width: 335px;
	height: auto;
	margin: 0 auto;
}

#province {
	color: #959595;
	float: left;
	width: 170px;
	height: 35px;
	border: 1px solid #959595;
}

#city {
	color: #959595;
	float: right;
	width: 130px;
	height: 35px;
	border: 1px solid #959595;
}

option {
	color: #959595;
	font-size: 14px;
}

#fath {
	width: 100%;
	height: auto;
	margin: 0 auto;
}


/*头部*/

header {
	width: 100%;
	margin-bottom: 15px;
	height: auto;
}

#tone {
	border-bottom: 1px solid rgb(238, 238, 238);
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	background: rgb(248, 248, 248);
}

#ToOne {
	width: 1200px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	color: #747474;
	font-size: 11px;
}

#ToOne .pull-left a,
#ToOne span {
	padding: 2px;
	color: #ff6600;
	font-size: 11px;
}

.Tnav {
	float: right;
	width: auto;
	height: 30px;
	padding-left: 10px;
}

.Xlia {
	position: relative;
	border-right: 1px solid rgb(238, 238, 238);
	padding-right: 25px;
}

.Xlia a {
	color: #484848;
}

.Xlia img {
	position: absolute;
	top: 12px;
	right: 5px;
}

.Tnav .phone {
	display: inline-block;
	padding-top: 2px;
}

.Xyin {
	padding-bottom: 10px;
	width: 100%;
	height: auto;
	background: rgb(248, 248, 248);
	z-index: 999;
	position: absolute;
	left: 0;
	top: 29px;
	border: 1px solid rgb(238, 238, 238);
	display: none;
}

.Xyin li {
	width: 100%;
	height: 20px;
	padding-left: 5px;
}

.Xlia:hover .Xyin {
	display: block;
}

#Ttwo {
	overflow: hidden;
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}

#Ttwo .pull-left:nth-of-type(1) {
	padding-top: 18px;
	width: 350px;
	height: 100px;
}

#Ttwo .pull-left:nth-of-type(1) img {
	width: 150px;
}

.tsearch {
	width: 580px;
	height: 100px;
	line-height: 100px;
}

.tsearch form {
	position: relative;
	margin-top: 30px;
	display: block;
	width: 490px;
	height: 40px;
	border: 2px solid #ff6600;
}

.tsearch input[type="text"] {
	padding-left: 8px;
	display: block;
	width: 380px;
	height: 40px;
	border: 0;
	float: left;
}

.tsearch input[type="submit"] {
	float: right;
	text-align: center;
	display: block;
	width: 100px;
	height: 40px;
	border: 0;
	color: white;
	background: #ff6600;
	;
}

#Tjian {
	position: absolute;
	width: auto;
	height: 40px;
	right: 105px;
	top: 0;
	line-height: 40px;
}

#Tjian a {
	display: inline-blockblock;
	width: auto;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: rgb(243, 243, 243);
	color: #404040;
	border-radius: 15px;
	font-size: 12px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.Rxian {
	width: 270px;
	height: 100px;
}

.Rxian h3 {
	padding-top: 30px;
	display: block;
	font-size: 18px;
	color: #ff6600;
}

.Rxian h3 img {
	margin-right: 10px;
	float: left;
}

.Rxian span {
	font-weight: 600;
	font-size: 12px;
	color: #7d7d7d;
}

#Tthree {
	position: relative;
	width: 100%;
	height: 50px;
	background: rgb(45, 187, 85);
}
.mount {
	position: absolute;
	top: -25px;
	z-index: 6;
	left: 1010px;
}

#Thmain {
	position: relative;
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}

#xiala {
	position: relative;
	width: 195px;
	height: 50px;
	background: #ff6600;
}

.Xa {
	padding-left: 18px;
	display: block;
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 16px;
}
#xiala a span {
	padding-left: 5px;
	font-size: 12px;
}

#xiala:hover #xla {
	display: block;
}

#xla {
	z-index: 999;
	display: none;
	width: 100%;
	height: auto;
	background: white;
	box-sizing: border-box;
	position: absolute;
	top: 50px;
	left: 0;
	border: 1px solid gainsboro;
}

#xla li {
	width: 100%;
	height: auto;
	padding-top: 5px;
	border-bottom: 1px solid gainsboro;
}

.Bti {
	overflow: hidden;
	padding-left: 10px;
	padding-top: 10px;
	display: block;
	width: 100%;
	height: 20px;
	font-size: 14px;
	color: #666666!important;
}

.Bti img {
	margin-right: 5px;
	float: left;
}

#Bmain {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 8px;
	width: 100%;
	height: auto
}

.Bmain {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
	height: 25px;
	line-height: 25px;
	color: #999999;
	font-size: 12px;
	padding-right: 15px;
}

#nav {
	width: auto;
	height: 50px;
}

#nav li {
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 15px;
}

#nav li a {
	display: block;
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 16px;
}

#nav li:hover {
	background: #11a13a;
}

#nav li:hover a {
	color: white!important;
}


/*主体部分*/

#main {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid gainsboro;
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

#left {
	padding-left: 20px;
	width: 500px;
	height: auto;
	float: left;
}


/*放大镜*/
#SLLone {
	cursor: pointer;
	width: 475px;
	height: 360px;
}

#yulan {
	margin-top: 10px;
	position: relative;
	width: 500px;
	height: 70px;
	left: -16px;
	overflow: hidden;
}

#LanRight,
#LanLeft {
	position: absolute;
	top: 0;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
	width: 25px;
	height: 70px;
	background: white;
	color: rgb(102, 102, 102);
}

#LanLeft {
	left: 0px;
}

#LanRight {
	right: 0px;
}

#LanMain {
	width: auto;
	height: 70px;
	overflow: hidden;
	white-space: nowrap;
	transition: all 3s;
	padding-left: 30px;
}

#LanMain a {
	display: inline-block;
}
#LanMain a:hover{
	border: 1px solid #ff6600;
}
#LanMain img {
	display: inline-block !important;
	width: 65px;
	height: 65px;
	margin: 2px;
}

#LanMain a:visited {
	border: 1px solid rgb(250, 52, 104);
}


/*放大镜*/

#demo {
	width: 475px;
	height: 360px;
	position: relative;
}

#smil_box {
	width: 400px;
	height: 400px;
	position: relative;
}

#mask {
	width: 175px;
	height: 175px;
	background: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	cursor: move;
}

#big_box {
	width: 475px;
	height: 360px;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 500px;
	border: 1px solid gainsboro;
	overflow: hidden;
	display: none;
}

#big_box img {
	position: absolute;
	top: 0;
	left: 0;
}
/*主体右侧*/
#right {
	width: 675px;
	height: auto;
	float: right;
}
#right h3,#right h3 a{
	width: 600px;
	font-size: 18px;
	line-height: 22px;
	height: 45px;
	overflow: hidden;
	color: #333333;
}
#right .p{
	overflow: hidden;
	padding-top: 20px;
	display: block;
	width: 600px;
	font-size: 12px;
	line-height: 18px;
}
#right .Xzhi{
	padding-left: 2px;
	padding-right: 2px;
	color: white;
	border-radius: 5px;
	background: rgb(109,211,150);
}
#right .Bhao{
	color: #ff6600;
	padding-left: 2px;
	padding-right: 2px;
}
.Jia_juan{
	font-size: 12px;
	color: #666666;
	width: 600px;
	height: auto;
	background: url(../images/bei_03.png) no-repeat;
	background-size: cover;
	padding-bottom: 10px;
}
.Jia_juan .pull-left{
	margin-top: 20px;
	margin-left: 25px;
	padding-bottom: 20px;
	width: 400px;
	height: auto;
}
.B_red{
	font-size: 14px;
	color: #ff5741;
}
.X_hui{
	font-size: 11px;
	color: #999999;
}
.X_ju a,.X_ju{
	padding-left: 2px;
	font-size: 9px;
	color: #ff5741;
	text-decoration: underline;
}
.jia{
	padding-top: 5px;
	height: auto;
	line-height: 15px;
}
.juan{
	margin-right: 10px;
	margin-bottom: 5px;
	display: inline-block;
	/*float: left;*/
	background: url(../images/juan_03.png) no-repeat;
	background: cover;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 18px;
	font-size: 10px;
}
.BTI{
	float: left;
	width: 40px;
}
.nei{
	float: left;
	width: 350px;
}
.Jia_juan .pull-right{
	margin-top: 10px;
	width: 140px;
	height: auto;
	border-left:1px dashed gray;
}
.zuo{
	width: 40px;
	text-align: right;
	height: auto;
	float: left;
}
.zuo img{
	margin-top: 5px;
}
.you{
	float: left;
	width: 100px;
	height: auto;
}
.you .J_da{
	padding-left: 10px;
	color: #ff5741;
	font-size: 18px;
}
.you .J_xi{
	margin-top: 10px;
	color: #ff5741;
	font-size: 12px;
}
.you .H_cen{
	color: #646464;
	font-size: 10px;
	padding-left: 10px;
}
.you .H_left{
	padding-top:4px;
	color: #646464;
	font-size: 10px;
}
/*套餐选择*/
.Txuan,.Tgroup{
	margin-top: 15px;
	width: 100%;
	height: auto;
}
.Tleft{
	padding-top: 10px;
	font-size: 12px;
	color: #666666;
	float: left;
	width: 100px;
	height: auto;
	text-align: center;
}
.Tright{
	float: left;
	width: 500px;
	margin-left: ;
	height: auto;
}
.Tright input[type="radio"]{
	display: none;
}
.Tright .Dlab{
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	line-height: 30px;
	height: 30px;
	border: 1px solid gainsboro;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14px;
}
.active{
	border: 1px solid #ff5741!important;
}
#mydatepicker2{
	padding-left: 5px;
	width: 185px;
	height: 30px;
	border: 1px solid gainsboro;
}
.inGroup{
	margin-right: 65px;
	position: relative;
	width: 80px;
	height: 30px;
	border: 1px solid gainsboro;
	margin-bottom: 8px;
}
.inGroup input{
	padding-left: 5px;
	width: 55px;
	height: 30px;
	border: 0;
}
.inGroup p{
	width: 50px;
	font-size: 12px;
	top: 5px;
	position: absolute;
	left: 90px;
}
.inGroup .jiah{
	width: 14px;
	height: 14px;
	line-height: 12px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	border-left: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}
.inGroup .jian{
	line-height:3px;
	width: 14px;
	height: 14px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	border-left: 1px solid gainsboro;
}	
.Kcun{
	color: #999999;
	font-size: 11px;
}
.Yding,.Gwu{
	display: inline-block;
	width: 180px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	border-radius: 5px;
	margin-top: 25px;
	margin-right: 10px;
}
.Yding{
	background: #ff5741;
	color: white;
}
.Yding:hover{
	background: white;
	border: 1px solid #ff5741;
	color: #ff5741;
}
.Gwu{
	border: 1px solid #ff5741;
	color: #ff5741;
}
.Gwu:hover{
	background: #ff5741;
	border: 0;
	color: white;
}
.Scang{
	font-size: 10px;
	color: #999999;
	display: block;
	padding-top: 5px;
}
.Scang img{
	float: left;
	margin-right: 5px;
}
.Jli{
	position: relative;
	padding-top: 35px;
	width: 100%;
	height: auto;
}
.jli{
	font-size: 12px;
	padding-left: 65px;
	padding-top: 18px;
	width: 100%;
	height: 55px;
	color: #646464;
	background: url(../images/Jli_03.png) no-repeat;
}
.Tyu{
	margin-top: -30px!important;
	width: 100%;
	height: auto;
}
.Tjleft{
	padding-top: 3px;
	color: #646464;
	font-size: 12px;
	float: left;
	width: 100px;
	text-align: right;
}
.TJright{
	font-size: 12px;
	float: left;
	width: 490px;
	height: auto;
}
.TJright p{
	color: #646464;
	line-height: 20px;
}
#Mtop{
	padding-top:20px;
	padding-bottom:30px;
	border: 1px solid gainsboro;
}
/*主体底部*/
#Mfooter{
	width: 100%;
	height: auto;
	
}
#Fright{
	float: right;
	overflow: hidden;
	margin-top:20px;
	overflow: hidden;
	width: 290px;
	height: auto;
	border: 1px solid gainsboro;
}
#Fright img{
	width: 295px;
}
.Mbti{
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	line-height: 50px;
	font-size: 14px;
	padding-left: 2px;
	padding-top: 15px;
}
.Mbti p{
	color: #3d3d3d;
	border-left: 3px solid rgb(45,187,85);
	line-height: 15px;
	padding-left: 4px;
}
.Jshao{
	width: 100%;
	height: 30px;
	background: rgb(246,246,246);
}
.Jmain{
	padding-left: 15px;
	float: left;
	width: 195px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.Jmain a{
	font-size: 11px;
	color: #333333;
}
.Jge{
	height: 30px;
	line-height: 30px;
	float: left;
	width: 75px;
}
.Jge a{
	font-size: 14px;
	color: #ff6600;
}
.Jge span{
	font-size: 10px;
	color: #999999;
}
#Fleft{
	padding-top: 20px;
	width: 890px;
	height: auto;
	float: left;
}
#Fnav{
	width: 100%;
	height: auto;
	border: 1px solid gainsboro;
	margin-bottom: 20px;
}
#Fnav a{
	display: inline-block;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid gainsboro;
	color: #646464;
}
#Fnav a:hover{
	color: white!important;
	background: rgb(56,194,73);
}
.Factive{
	color: white!important;
	background: rgb(56,194,73);
}
.Fogroup{
	width: 100%;
	height: auto;
	border-top: 1px solid gainsboro;
	padding-top: 10px;
	padding-bottom: 20px;
}
.Fogroup .FGleft{
	width: 50px;
	text-align: right;
	float: left;
	height: auto;
}
.Fogroup .FGright{
	color: #666666;
	padding-left: 5px;
	width: 830px;
	float: left;
	height: auto;
}
.Num li{
	list-style-type: decimal!important;
}
.Fogroup h2{
	font-size: 18px;
	line-height: 28px;
	color: #333333;
	padding-bottom: 25px;
}
.Fogroup p{
	font-size: 14px;
	color: #333333;
}
.Pgroup{
	padding-left: 18px;
	position: relative;
	width: 100%;
	height: auto;
	border-left: 1px solid gainsboro;
	padding-bottom: 30px;
}
.Pgroup:last-of-type{
	border: 0;
}
.Pgroup h6,.Pgroup p{
	font-size: 14px;
	color: #666666;
}
.Pgroup .index{
	font-size: 12px;
	position: absolute;
	background: rgb(56,194,73);
	color: white;
	text-align: center;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	left: -12px;
}
.Fgroup{
	color: #666666;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}
.Fgroup h5{
	font-size: 14px;
}
.Fgroup li{
	list-style-type: disc;
	font-size: 12px;
	line-height:20px;
}
.Pjia{
	border-bottom: 1px solid gainsboro;
	width: 100%;
	height: 120px;
	background: rgb(240,243,246);
}
.Pjleft{
	float: left;
	width: 270px;
	height: 120px;
}
.Pjright{
	text-align: center;
	float: left;
	width: 550px;
	height: 120px;
}
.Pjleft h2{
	padding-top: 20px;
	text-align: center;
	color: #365873;
	font-size: 12px;
}
.Pjleft h3{
	padding-top: 10px;
	text-align: center;
	color: #ff5741;
	font-size: 28px;
}
.Pjleft h3 span{
	color: #666666;
	font-size: 12px;
}
.Pjleft h4{
	text-align: center;
	color: #7c8c9b;
	font-size: 12px;
}
.Pjright{
	position: relative;
}
.Pjright img{
	margin-top: 50px;
}
.Pjright li{
	float: left;
	color: #7c8c9b;
	font-size: 12px;
	width:108px;
	text-align: right;
}
.Pjright span{
	position: absolute;
	top: 10px;
	color: white;
	width: 30px;
	height: 40px;
	text-align: center;
	left: 513px;
	background: url(../images/Xqing_33.png) no-repeat;
}
#Pfang{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid gainsboro;
}
#Pfang li{
	padding-left: 5px;
	float: left;
}

.Pf{
	margin-top: 5px;
	font-size: 12px;
	color: #666666;
	display: block;
	line-height: 20px;
	border: 1px solid gainsboro;
	padding-left: 10px;
	padding-right: 10px;
}
.Pf img{
	float: right;
	margin-top: 7px;
	margin-left: 3px;
}
.Pjia_right{
	color: #666666;
	font-size: 12px;
	margin-top: 5px;
	padding-right: 5px;
	float: right!important;
}
.Pjia_right input{
	position: relative;
	top: 3px;
}
#Pjmain{
	width: 100%;
	height: auto;
}
#Pjmain td{
	border-bottom: 1px solid gainsboro;
}
#Pjmain td:nth-of-type(2){
	padding-top: 15px;
	padding-bottom: 20px;
}
#Pjmain td:nth-of-type(3){
	color: #4d4d4d;
	font-size: 12px;
}
#Pjmain td:nth-of-type(3) span{
	padding-left: 5px;
	color: #bab9b9;
	font-size: 11px;
}
.PJ_main{
	padding-left: 10px;
	color:#5c5c5c;
	font-size: 12px;
}
.PJ_span{
	padding-left: 10px;
	color:#cfcfcf;
	font-size: 11px;
}
.Pj_Fshi{
	color: #bab9b9;
	font-size: 11px;
}
.Pj_Fshi span{
	color: #4d4d4d;
	font-size: 12px;
}
.fen_ye{
	border: 0!important;
}
.fen_ye a{
	color: #404040;
	border: 1px solid gainsboro;
	display: inline-block;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
}
.Factive{
	color: white;
	background: rgb(66,179,18);
	border: 0!important;
}
input:hover{
	border: 1px solid rgb(45, 187, 85)!important;
}
.Fogroup p:hover,.Fogroup li:hover{
	cursor: pointer;
	color: rgb(45, 187, 85)
}
.fen_ye a:hover{
	background: rgb(45, 187, 85);
	color: white!important;
}
.calendar td{
	text-align: center;
	cursor: pointer;
}
